@media (max-width: 900px) {
    .pp-row {
        display: block !important;
    }

    .pp-col-50 {
        width: 100% !important;
    }

    .pp-col-33 {
        width: 100% !important;
    }

    .pp-col-25 {
        width: 40% !important;
    }

    .pp-w-100 {
        width: 100% !important;
    }

    .pp-w-300 {
        width: 100% !important;
    }

    .pp-inline-flex {
        display: block !important;
    }

    .pp-fields {
        width: 100% !important;
    }

    table.pp-table {
        width: 100% !important;
    }

    .pp-result-col {
        margin: 0 auto;
    }
}

/* Structure */
.pp-row {
    width: 100%;
    display: inline-flex;
}

.pp-col-50 {
    width: 50%;
}

.pp-col-33 {
    width: 33%;
}

.pp-col-25 {
    width: 25%;
}

.pp-p-20 {
    padding: 20px;
}

.pp-p-10 {
    padding: 10px;
}

.pp-m-20 {
    margin: 20px;
}

.pp-m-tb-10 {
    margin: 10px 0 10px 0;
}

.pp-m-tb-20 {
    margin: 20px 0 20px 0;
}

.pp-m-lr-10 {
    margin: 0 10px 0 10px;
}

.pp-w-100 {
    width: 100px;
}

.pp-w-300 {
    width: 300px;
}

/* End Structure */

/* Design */
.pp-inline-flex {
    display: inline-flex;
}

.pp-title {
    font-size: inherit;
    margin-left: 20px;
    position: relative;
    top: 7px;
}

.pp-fields {
    width: 90%;
    margin: 10px auto;
}

.pp-title-wrapper {
    display: inline-flex;
}

.pp-dot {
    width: 40px;
    height: 40px;
}

select.pp-select-width {
    padding: 10px 30px;
}

table.pp-table {
    width: 50%;
    border-collapse: collapse;
}

table.pp-table, table.pp-table tr, table.pp-table td, table.pp-table th {
    border: none;
    text-align: left;
}

.pp-advance-option-wrapper {
    text-align: center;
}


.pp-advanced-section {
    display: none;
}

.pp-advance-option {
    background: #ffffff;
    border-radius: 7px;
    border-style: solid;
    border-color: #4aa2ea;
    color: #4aa2ea;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.pp-advance-option:hover {
    background: #0c0c0c;
    border-color: #0c0c0c;
    color: #ffffff;
}

.pp-additional-information {
    text-align: left;
}

.pp-addition-information-wrapper {
    display: none;
}

span.pp-percentage {
    right: 10px;
    position: relative;
}

/* End design */

/* Form result */

.pp-result-title-wrapper {
    padding-top: 40px;
    margin: 40px auto 20px auto;
    border-top: 2px solid #DDD;
    display: inline-flex;
}

.pp-result-title-wrapper, .pp-result-get-wrapper {
    width: 100%;
}

.pp-result-get-wrapper {
    display: inline-flex;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

p.pp-result-number {
    font-size: 31px;
    color: #4aa2ea;
    font-weight: 600;
    line-height: 0;
    margin: 1em !important;
}

span.pp-result-number-description {
    font-size: 18px;
}

table.pp-table tbody {
    display: inherit;
}

span.pp-result-more-details-beer-btn, span.pp-result-more-details-vine-btn, span.pp-result-more-details-strong-btn {
    display: block;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

span.pp-result-more-details-font {
    display: block;
}

.pp-result-more-details-beer-wrapper, .pp-result-more-details-vine-wrapper, .pp-result-more-details-strong-wrapper {
    display: none;
}
/* End Form result */

input.pp-ranges {
    padding: 0 10px;
}